NODE_ENV=development

# Web
NEXT_PUBLIC_API_BASE_URL=http://localhost:4311

# API
API_HOST=127.0.0.1
API_PORT=4311
DATABASE_URL=postgres://pathport:pathport@localhost:4312/pathport
REDIS_URL=redis://localhost:4313
